{% extends 'base.html.twig' %}
{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <h1>This is secured by JWT</h1>
            <h2>Olà, <b>{{ app.user.username }}</b></h2>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <p>
                Your JWT has been issued on {{ payload.issued|date('d.m.Y H:i:s') }}
            </p>
            <p>
                Your JWT will expire in
                {{ "%02d"|format(payload.expires.diff(date()).i) }}:{{ "%02d"|format(payload.expires.diff(date()).s) }} minutes.
                ({{ payload.expires|date('d.m.Y H:i:s') }})
            </p>
            <h3>Your current fortune is</h3>
            <blockquote>
                <p> {{ payload.fortune }}</p>
            </blockquote>

        </div>
    </div>
{% endblock %}